<div class="d-flex align-items-center gap-2 container mx-auto justify-content-between">
  <img src="https://www.thethaodaiviet.vn/public/client/images/logo.png?v=1.0.0" alt="">
  <form action="">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <span class="input-group-text bg-danger" id="basic-addon2">
        <i class="bi-search"></i></span>
    </div>
  </form>
  <div class="d-flex">
    <i class="bi-phone text-danger"></i>
    <div class="">
      <p class="p-0 m-0 d-flex">
        <div >
        <strong>HOTLINE: </strong>
              1900.6753
        </div>
      </p>
      <p  class="p-0 m-0">
        Hỗ trợ 24/7 (nhanh chóng tiện lợi)
      </p>
     
    </div>
   
  </div>
  <div class="d-flex gap-2">
    <button style="border-radius: 20px" class="btn btn-outline-danger btn-sm">
      <i class="bi-cart"></i>
      Giỏ hàng
    </button>
    <button style="border-radius: 20px" class="btn btn-danger btn-sm">
      <i class="bi-list"></i>
      Danh mục sản phẩm
    </button>

  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary container">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">GHÉ MASSAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MÁY BỘ CHẠY ĐIỆN</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="#">GIẢN TẠ THỂ HÌNH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">XE ĐẠP TẬP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PHỤ KIỆN TẬP GYM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">THIẾT BỊ THỂ THAO NGOÀI TRỜI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GIÀY, QUẢ BÓNG ĐÁ</a>
        </li>
      </ul>
    
    </div>
    
  </div>
</nav>