.poly-prod {
    text-align: center;
    padding-top: 1rem;
}
.poly-prod .card img {
    height: 250px;
}
.carousel-item img {
    height: 350px;
}

aside > .list-group > h5 {
    font-variant: small-caps;
    font-size: larger;
    text-shadow: 0 0 2px darkgray;
}
.card {
    width: 25rem;
}
.carousel-control-prev {
    left: 12px !important;
    transition: 0.4s;
}
.carousel-control-prev:hover {
    background-color: rgba(199, 199, 199, 0.775);
}
.carousel-control-next {
    right: 12px !important;
    transition: 0.4s;
}
.carousel-control-next:hover {
    background-color: rgba(199, 199, 199, 0.775);
}
.container-fluid {
    max-width: 1200px;
}
.navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
        inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    background-color: #6f2cf5 !important;
}
.nav-link {
    color: rgba(255, 255, 255, 0.85) !important;
}
.nav-link:hover {
    color: white !important;
}
.pagination{
    margin-top: 20px;
}
.list-unstyled> .mb-2> a{
    text-decoration: none;
    color: black;
}
.list-unstyled> .mb-2> a:hover{
    color: rgba(72, 72, 255, 0.496);
    text-decoration: underline;
}
.main-wraper{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
        inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}
.description{
    font-size: small;
}
.description>p{
    word-wrap: break-all;
}
.main-wraper>.col-lg-4{
    height: 190px;
}
article{
    height: 619px;
}