<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/hinh/logo.png" />
    <script src="2.js"></script>
    <title>Bai4</title>
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="Ctrl">
      <div class="row">
        <div class="col-sm-6 mx-auto text-white">
          <div class="p-2">
            <form>
              <div class="form-group">
                <label class="text-dark font-weight-bold">Họ và tên</label>
                <input
                  ng-model="student.fullname"
                  class="form-control font-weight-bold"
                  type="text"
                  name=""
                />
              </div>
              <div class="form-group">
                <label class="text-dark font-weight-bold">Ngày sinh</label>
                <input
                  ng-model="student.birthday"
                  class="form-control font-weight-bold"
                  type="text"
                  name=""
                />
              </div>
              <div class="form-group">
                <label class="text-dark font-weight-bold">Điểm</label>
                <input
                  ng-model="student.marks"
                  class="form-control font-weight-bold"
                  type="text"
                  name=""
                />
              </div>
              <button
                ng-click="save()"
                class="btn btn-outline-secondary"
                ng-show="index == -1"
              >
                Thêm
              </button>
              <button
                ng-click="update()"
                class="btn btn-outline-secondary"
                ng-hide="index == -1"
              >
                Cập nhật
              </button>
              <button ng-click="cancel()" class="btn btn-outline-secondary">
                Hủy
              </button>
              <button ng-click="clear()" class="btn btn-outline-secondary">
                Mới
              </button>
              <button
                ng-click="delete()"
                class="btn btn-outline-secondary"
                ng-hide="index == -1"
              >
                Xoá
              </button>
            </form>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <table class="table table-bordered">
            <tbody>
              <tr class="bg-danger text-center text-white">
                <th>Họ và tên</th>
                <th style="width: 110px">Ngày sinh</th>
                <th>Điểm</th>
                <th>Xếp loại</th>
                <th>#</th>
              </tr>
              <tr ng-repeat="sv in svs">
                <td>{{sv.fullname}}</td>
                <td>{{sv.birthday}}</td>
                <td>{{sv.marks}}</td>
                <td>
                  <span ng-if="sv.marks < 5">Yếu/Kém</span>
                  <span ng-if="sv.marks >= 5 && sv.marks <= 8"
                    >Trung bình/Khá</span
                  >
                  <span ng-if="sv.marks > 8">Giỏi/Xuất sắc</span>
                </td>
                <td class="text-danger">
                  <a href="#" ng-click="edit($index)">Sửa</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      var app = angular.module("myApp", []);
      app.controller("Ctrl", function ($scope) {
        $scope.$parent.student = {};
        $scope.index = -1;
        $scope.save = function () {
          $scope.svs.push(angular.copy($scope.student));
          alert("Thêm thành công sinh viên");
        };
        //mới
        $scope.clear = function () {
          $scope.student = {};
          $scope.index = -1;
        };
        //sửa
        $scope.edit = function (index) {
          $scope.index = index;
          $scope.student = angular.copy($scope.svs[index]);
        };
        //cập nhập
        $scope.update = function () {
          $scope.svs[$scope.index] = angular.copy($scope.student);
          $scope.clear();
          alert("Chỉnh sửa thành công sinh viên");
        };
        //xóa
        $scope.delete = function () {
          const check = confirm("Bạn có chắc muốn xóa sinh viên này không?");
          if (!check) return;
          $scope.svs.splice($scope.index, 1);
          $scope.clear();
          alert("Xóa thành công sinh viên");
        };
        $scope.cancel = function () {
          if ($scope.index == -1) {
            $scope.clear();
          } else {
            $scope.edit($scope.index);
          }
        };
        $scope.svs = [
          {
            fullname: "Đinh Quốc Huy",
            birthday: "17-11-2003",
            marks: "10",
          },
          {
            fullname: "Đinh Quốc Tiến",
            birthday: "17-11-2003",
            marks: "10",
          },
          {
            fullname: "Đinh Quốc Hoàng",
            birthday: "17-1-2003",
            marks: "10",
          },
          {
            fullname: "Từ Đăng Khoa",
            birthday: "15-1-2003",
            marks: "7",
          },
        ];
      });
    </script>
  </body>
</html>
