<div class="row">
    <div class="col-lg-3" ng-repeat="product in products">
        <div class="product-item">
            <div class="box-img">
                <a href="#product/{{product.id}}">
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                </a>
            </div>
            <div class="box-info">
                <h3 class="product-name">
                    {{ product.name }}
                </h3>
                <ins class="price">
                    {{ product.price }}
                </ins>
            </div>
        </div>
    </div>
</div>