<div ng-controller="homeController">
  <div class="container">
    <ng-include src="'banner.html'"></ng-include>
  </div>

  <div class="container py-2">
    <div class="row container mx-auto p-0">
      <div class="col-lg-3 col-12">
        <strong>THƯƠNG HIỆU</strong>
        <div ng-repeat="brand in brands"><input id={{brand.brand}} ng-change="filterByBrand()" ng-model="brand.check" type="checkbox" /> <label for={{brand.brand}}>{{brand.brand}}</label></div>
      </div>
      <div class="col-lg-9 col-12">
        <div class="d-flex justify-content-between my-2">
          <div><strong>Áo chống nắng</strong> ({{products.length ? products.length : 0}} sản phẩm)</div>
          <select ng-model="sort" name="" id="" class="form-select" style="width: 30%">
            <option value="-price">Sắp xếp</option>
            <option value="price">Sắp xếp tăng dần</option>
            <option value="-price">Sắp xếp giảm dần</option>
          </select>
        </div>
        <div class="row">
          <div
            ng-repeat="product in products  | filter: customFilter(products, $index) | orderBy : sort"
            class="col-lg-3 col-sm-6 col-12 mb-4"
            style="position: relative;"
          >
          <div class=" btn btn-danger btn-sm" style="position: absolute; top: 0 !important; right: 16px !important; z-index: 99;">
            {{product.discount * 100}}%
          </div>
            <div class="card w-100" style="width: 18rem">
              <img src="{{product.image}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title" style="font-size: 16px">
                  {{product.name}}
                </h5>
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="p-0 m-0" style="font-size: 10px;">
                      <span class="text-danger"
                        >{{product.price - (product.price * product.discount) |
                        currency : "" : 0.0}} đ</span
                      >
                      <del
                        >{{product.price | currency : "" : 0.0}}đ</del
                      >
                    </p>
                    <div class="d-flex gap-1">
                      <i
                        ng-repeat="rate in createArray(product.rating) track by $index"
                        class="text-warning bi-star-fill"
                      ></i>
                      <i
                        ng-repeat="rate in createArray(5 - product.rating) track by $index"
                        class="bi bi-star"
                      ></i>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-sm">
                    
                    <i class=" bg-primary bi-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
